@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-image: url(https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}

.full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cont1 {
  height: 30vmax;
  width: 30vmax;
  margin-top: 2vmax;
}

.cont2 {
  height: 30vmax;
  width: 30vmax;
}

.cont1 p,
.cont2 p {
  font-size: 2.7vmax;
  margin-top: 10px;
  text-decoration: none;
}

.mno,
.input_field {
  padding: 10px;
}

textarea {
  height: 10vmax;
  width: 25vmax;
  border: none;
  border-bottom: 2px solid#adadad;
  outline: none;
  background: none;
}

input {
  width: 25vmax;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #adadad;
  outline: none;
  background: none;
}

.btn input {
  width: 150px;
  padding: 12px 20px;
  margin-top: 18px;
  display: inline-block;
  border: none;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.btn input:hover {
  border: 2px solid;
  background: black;
  border-radius: 25px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}
